/* Your styles here */

* {
  box-sizing: border-box;
  margin: 0;
}

/* -------- BODY */

body {
  font-family: "Arial", sans-serif;
  width: 100%;
}
/* ---------HEADER */
header .logo {
  width: 100%;
  text-align: left;
  background-color: #222f3f;
  padding: 10px 25px;
}
header img {
  width: 100px;
}
/* MENU */
header .menuBar {
  padding: 10px 20px;
  background-color: #364759;
}
header .menuBar a {
  margin: 0.5rem;
  text-decoration: none;
  color: #e9edee;
}
/* ----------------------------MAIN*/
main {
  background-color: #e9edee;
  padding: 0px 1.5rem;
}
/* ------ORANGE */
.orange_green > div {
  padding-top: 1.5rem;
}
main .orange {
  color: #e9edee;
  padding: 8px 0px;
  text-align: center;
  background-color: #f56600;
}
/* ------GREEN */

main .green {
  margin-top: 1.5rem;
  color: #e9edee;
  padding: 3.3rem;
  text-align: center;
  background-image: url(../images/bg-image.png);
}
.green h1 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
}
.green h2 {
  margin-top: 25px;
  font-weight: 600;
}
/* -------WHITE SECTION */
main .whiteSection {
  margin: 1.5rem 0rem;
  background-color: white;
}
main .white {
  padding: 15px 30px;
}
main .white h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

main .white h3 {
  margin-left: 0.5rem;
  font-size: large;
  color: #16576b;
  font-weight: 600;
}
main .white > div {
  display: inline-block;
}
main .white > div > div {
  height: 30px;
  width: 50%;
  display: inline-block;
}

main .gallery {
  text-align: center;
  background-color: white;
  padding-bottom: 15px;
}

.gallery > div > div {
  height: 25rem;
  display: inline-block;
  width: calc(87% / 4);
  background-position: center;
  background-size: cover;
  margin: 0 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 9px 2px #88888836;
}

main .pad {
  background-image: url(../images/img_1.jpg);
}
main .notebook {
  background-image: url(../images/img_2.jpg);
}
main .watch {
  background-image: url(../images/img_3.jpg);
}
main .animals {
  background-image: url(../images/img_4.jpg);
}
main .imgVR {
  background-image: url(../images/img_9.png);
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}
.gaming {
  margin-top: 2rem;
}

.gaming > .play {
  padding: 5px 0px;
  width: 100%;
  display: inline-block;
}
.gaming .play > div {
  margin-left: -15px;
  margin-right: -40px;
  width: 53%;
  display: inline-block;
}
.play h2 {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
}
.play h3 {
  margin-left: 4.5rem;
  font-size: large;
  color: #16576b;
  font-weight: 600;
}
/* -------------------------AUDIO MARSHALL */
main .accessories {
  margin-top: 1.5rem;
}
main .marshall {
  border-top: 1px solid black;
  background-image: url(../images/img_10.png);
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: 100%;
}
.audio {
  padding-top: 10px;
  padding-bottom: 1.5rem;
  width: 100%;
  display: inline-block;
}
.audio > div {
  width: 49%;
  display: inline-block;
}
.audio h2 {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
}
.audio h3 {
  margin-left: 1.5rem;
  font-size: large;
  color: #16576b;
  font-weight: 600;
}

/* -------------footer */
footer {
  width: 100%;
  text-align: center;
}
footer .backtop {
  padding: 15px;
  background-color: #364759;
}
footer .backtop a {
  color: white;
}
footer .logofooter {
  height: 10rem;
  width: 100%;
  padding: 50px;
  background-color: #222f3e;
}
footer .logofooter img {
  width: 150px;
}
